* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #009579;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 500px;
    padding: 50px;
    background-color: white;
    margin: 0 auto;
    margin-top: 200px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

input[type="email"] {
    width: 93%;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #009579;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}